@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
/*------------NAV BAR-------*/
:root {
    --bg-body: #dff9fb;
    --bg-nav: #51447b;
    --color-nav: #f0eef3;
    --color-nav-active: #fff;
    
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 20vh;
    display: grid;
    place-items: center;
    font-family: inter;
    background-image: url(https://i.redd.it/bm1sjmso0am91.png);
    background-size: cover;
    background-repeat: no-repeat;
   
    
}

#filter-svg {
    display: none;
}

.nav {
    position: relative;
    list-style-type: none;
    display: flex;
    background-color: var(--bg-nav);
    height: 80px;
    border-radius: 20px;
    filter: url("#goo");
    /* border-bottom-right-radius: 20px; */
}

.nav li a {
    text-decoration: none;
    color: var(--color-nav);
    width: 120px;
    height: 100%;
    display: inline-grid;
    place-items: center;
    font-size: 30px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.nav li a .title {
    display: none;
}

.nav li a:hover {
    color: var(--bg-body);
}

.nav li a.nav-item-active {
    color: var(--color-nav-active);
    transform: translateY(-20%);
    font-size: 45px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav li a.nav-item-active .title {
    display: block;
    font-size: 16px;
}

.nav .nav-indicator {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--bg-nav);
    position: absolute;
    top: -35px;
    left: calc(300px - 45px);
    z-index: -1;
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* cubic-bezier(0.175, 0.885, 0.32, 1.275) */
}

@keyframes zoom {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.2;
    }
    100% {
        width: 1500px;
        height: 1500px;
        opacity: 0;
    }
}

    /*------------LOGIN-------*/

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(39, 37, 37, 0.5);
    box-sizing: border-box;
    box-shadow:  1px 5px rgb(117, 65, 213);
    border-radius: 40px;    
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(54, 182, 201);
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: rgb(117, 65, 213);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(117, 65, 213),
                0 0 25px rgb(117, 65, 213),
                0 0 50px rgb(117, 65, 213),
                0 0 100px rgb(117, 65, 213);
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,rgb(117, 65, 213));
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(117, 65, 213));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(117, 65, 213));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(117, 65, 213));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  /*-----------------MEDIA SCREM--------------*/
  @media screen and (max-width: 999px) {
    
  }

  
  @media screen and (max-width: 700px) {
    header .container {
      display: flex;
      flex-direction: column;
    }
  
    .botao {
      margin-top: 5px;
      width: 300px;
    }
  }

  @media screen and (max-width: 700px) {
     .login-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 280px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(39, 37, 37, 0.5);
      box-sizing: border-box;
      box-shadow: 0 5px 20px rgba(128, 34, 230, 0.201);
      border-radius: 10px;    
      
    }
    }
  
    .botao {
      margin-top: 5px;
      width: 320px;
    }

  @media screen and (max-width: 320px) {
    header .container {
      display: flex;
      flex-direction: column;
    }
   /*-----------------BOTAO--------------*/
   
  }
  .Skate3 {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

    /*-----------------social media--------------*/
   .social_media{
    position: absolute;
    bottom: 0;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    transition:
			border-left-width 0.3s ease,
			border-left-color 0.3s ease;
		border-width: icon-size;
		border-left-color: purple;
  }
  
  .social_media a{
    display: block;
    width: 41px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  /*-----------------LOGOS--------------*/
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 80px;
    position: absolute;
    top: 5px;
    right: 10px;
  }
                /*sadasdaas*/      

  .logo {
    width: 200px;
  }
  
  .logo {
    width: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
  }




  